{% extends 'base.html' %}
{% block content %}


<section class="myprofile1" style="min-height: 100vh; overflow-y: auto;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100">
            <div class="hometitle">
                <h1 style="text-transform: capitalize; font-weight:bold;">{{ current_user.nickname }}'s profile</h1>
            </div>

            <div class="myprofile-container">
                <!-- <div class="row">  -->


                <!-- <div class="col-lg-4 align-items-center"> -->


                <!-- <form action="{{ url_for('editprofilePage') }}" method="POST">
                        <label for="bio">Bio:</label>
                        <textarea id="bio" name="bio">
                        </textarea>
                        <button type="submit">Save Changes</button>
                        </form> -->


                <div class="editprofile-container">
                    <div class="row justify-content-center align-items-center">
                        <div class="card card-editprofile col-sm-12 col-xl-6">
                            <form class="form" method="POST" action="">
                                {{ form.hidden_tag() }}

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">

                                <h4 class="my-3">{{ current_user.nickname }}</h4>

                                <div class="form-group">
                                    {{ form.nickname.label }}<br>
                                    {{ form.nickname(size=20, class="form-control") }}
                                </div>

                                <p class="text-muted mb-1">@{{ current_user.username }}</p>


                                <div class="card-body">

                                    <!-- <div class="input-group no-border">
                                        <input type="text" class="form-control" placeholder="Bio...">
                                    </div> -->
                                    <div class="form-group">
                                        {{ form.bio.label }}<br>
                                        {{ form.bio(rows=5, class="form-control") }}
                                    </div>



                                </div>

                                <div class="card-footer text-center">
                                    <!-- <a href="#pablo" class="btn btn-neutral btn-round btn-lg">done</a> -->
                                    <button type="submit" class="btn btn-primary btn-round btn-lg">Update Profile</button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>


                <!-- </div> -->

                <!--  </div>  end row -->




            </div>
        </div>
</section>

<div class="myprofile-container"></div>

{% endblock %}