{% extends 'base.html' %}
{% block content %}

    <h1>My Pokemons</h1>
    <p style="text-align: center;">gotta catch them all </p>


    <div class="mypokeCards-container">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Name</h5>  
                <!-- will figure that out POSTS?  -->
                <p class="card-text">
                    HP: 
                    <br>
                    Defense:
                    <br>
                    Attack:
                    <br>
                    Ability: 
                </p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">
                    HP: 
                    <br>
                    Defense:
                    <br>
                    Attack:
                    <br>
                    Ability
                </p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/11.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">
                    HP: 
                    <br>
                    Defense:
                    <br>
                    Attack:
                    <br>
                    Ability
                </p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/13.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">
                    HP: 
                    <br>
                    Defense:
                    <br>
                    Attack:
                    <br>
                    Ability
                </p>
                </div>
            </div>
            </div>


        </div>
    </div>




{% endblock %}