{% extends 'base.html' %}
{% block content %}


<section class="myprofile1" style="min-height: 100vh; overflow-y: auto;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100">

            <div class="hometitle">
                <h1 style="text-transform: capitalize; font-weight:bold;">{{ current_user.nickname }}'s profile</h1>
            </div>

            <div class="myprofile-container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">


                            <div class="col-lg-3 col-md-3">

                                <div class="card ">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
                                        class="card-img-top" alt="" />
                                    <div class="card-body">
                                        <h5 class="card-title">Name</h5>
                                        <!-- will figure that out POSTS?  -->
                                        <p class="card-text">
                                            HP:
                                            <br>
                                            Defense:
                                            <br>
                                            Attack:
                                            <br>
                                            Ability:
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3">

                                <div class="card h-6">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
                                        class="card-img-top" alt="" />
                                    <div class="card-body">
                                        <h5 class="card-title">Name</h5>
                                        <!-- will figure that out POSTS?  -->
                                        <p class="card-text">
                                            HP:
                                            <br>
                                            Defense:
                                            <br>
                                            Attack:
                                            <br>
                                            Ability:
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-3">

                                <div class="card h-6">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
                                        class="card-img-top" alt="" />
                                    <div class="card-body">
                                        <h5 class="card-title">Name</h5>
                                        <!-- will figure that out POSTS?  -->
                                        <p class="card-text">
                                            HP:
                                            <br>
                                            Defense:
                                            <br>
                                            Attack:
                                            <br>
                                            Ability:
                                        </p>
                                    </div>
                                </div>

                            </div>



                            <div class="col-lg-3 col-md-3">

                                <div class="card h-6">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
                                        class="card-img-top" alt="" />
                                    <div class="card-body">
                                        <h5 class="card-title">Name</h5>
                                        <!-- will figure that out POSTS?  -->
                                        <p class="card-text">
                                            HP:
                                            <br>
                                            Defense:
                                            <br>
                                            Attack:
                                            <br>
                                            Ability:
                                        </p>
                                    </div>
                                </div>

                            </div>


                            <div class="col-lg-3 col-md-3">

                                <div class="card h-6">
                                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png"
                                        class="card-img-top" alt="" />
                                    <div class="card-body">
                                        <h5 class="card-title">Name</h5>
                                        <!-- will figure that out POSTS?  -->
                                        <p class="card-text">
                                            HP:
                                            <br>
                                            Defense:
                                            <br>
                                            Attack:
                                            <br>
                                            Ability:
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="sidebar-widget mt-5 mt-lg-0">


                            
                            <div class="card mb-4"> <!-- my profile card -->
                                <div class="card-body text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                    <h4 class="my-3">{{ current_user.nickname }}</h4>
                                    <p class="text-muted mb-1">@{{ current_user.username }}</p>
                                    <p class="text-muted mb-4">{{ current_user.bio }}</p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <!-- <button type="button" class="btn btn-primary">Follow</button> -->
                                        <a href="{{ url_for('editprofilePage') }}" class="btn btn-outline-primary ms-1">Edit profile</a>
                                    </div>
                                </div>
                            </div> <!-- end my profile card -->

                        </div>
                    </div>



                    



                </div> <!-- end row -->




                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination">
                            <ul class="list-inline d-block mx-auto">
                                are ya winnin' son?
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<div class="myprofile-container"></div>

{% endblock %}