{% extends 'base.html' %}
{% block content %}

<header class="aboutpage">
  <!-- <div class="container px-4 px-lg-5 h-100"> -->
    <div class="d-flex justify-content-center align-items-center flex-column">

      <div class="abouttitle">
        <h1 class="text-white font-weight-bold">Find different poke cards</h1>
        <!-- <hr class="divider" /> -->
      </div>

      <div class="aboutsubtitle">
        <p class="text-white-75 mb-5">Not a member but want to look at cards? Here ya go</p>
      </div>


      <form id="myForm" class="aboutsearchform">
        <div class="form-group">
          <label for="pokemon">Enter Pokemon Name</label>
          <input type="text" class="form-control" id="pokemon" name="pokemon" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>


    </div>
  <!-- </div> -->
</header>

<script src="{{ url_for('static', filename='pokesearch.js') }}"></script>

{% endblock %}