{% extends 'base.html' %}
{% block content %}
<!--  https://mdbootstrap.com/docs/standard/layout/columns/ -->
<!-- <div class="battle-container container-fluid justify-content-around">
        <div class="battle-bg">
            <div class="battle-content text-center ">
 -->

<section class="battlesection" style="min-height: 100vh; overflow-y: auto;">
    <div class="battle-container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100">

            <div class="battleheader">
                <h1 style="text-transform: capitalize;">Battle other users</h1>
            </div>
            <div class="battle-container2 text-center">
                <!-- <div class="row"> -->

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2 g-lg-3">


                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">
                            <span class="h-16 w-16 rounded-full overflow-hidden flex "><img src="static/images/pokeball.png" style="height:32px;"><br>{{ current_user.nickname }}</span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>

                    <div class="col">
                        <div class="p-3 border bg-light">Row column</div>
                    </div>


                </div>


                <!-- </div>  -->
                <!-- end row -->
            </div><!-- end battlecontainer2 -->

        </div>
    </div>
</section>


<script src="{{ url_for('static', filename='pokelookup.py') }}"></script>

{% endblock %}