{% extends 'base.html' %}
{% block content %}


    {{ my_text }}



    <div class="container">
          <div class="p-5 my-4 bg-light rounded-3">
            <h1>Battle Range</h1>

            <p class="lead">I am getting some inspiration from <a href="https://www.tutorialrepublic.com" class="text-success" target="_blank">tutorialrepublic.com</a> but I will honestly put more time into figuring out flex again, I enjoyed it the first week in the theater assignment</p>
            <p><a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Button!</a></p>
        </div>
        <div class="row g-2">

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ditto</h5>
                      <p class="card-text">
                        HP: 48 <br>
                        Attack: 48 <br>
                        Defense: 48
                      </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/132.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ditto</h5>
                      <p class="card-text">
                        HP: 48 <br>
                        Attack: 48 <br>
                        Defense: 48
                      </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/transparent/132.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ditto</h5>
                      <p class="card-text">
                        HP: 48 <br>
                        Attack: 48 <br>
                        Defense: 48
                      </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ditto</h5>
                      <p class="card-text">
                        HP: 48 <br>
                        Attack: 48 <br>
                        Defense: 48
                      </p>
                    </div>
                </div>
            </div>
              

        </div>
        <hr>

    </div>


{% endblock %}