{% extends 'base.html' %}
{% block content %}

    <h1>My Pokemons</h1>
    {{ my_text }} gotta catch them all 


    <div class="mypokeCards-container">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">
                    This is a card.
                </p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/25.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Card 2</h5>
                <p class="card-text">This is a short card.</p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/11.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </div>


            <div class="col">
            <div class="card h-100">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/13.png" class="card-img-top" alt=""/>
                <div class="card-body">
                <h5 class="card-title">Card 4</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                </div>
            </div>
            </div>


        </div>
    </div>




{% endblock %}