{% extends 'base.html' %}
{% block content %}

<section class="world1" style="min-height: 100vh; overflow-y: auto;">
  <!-- <div class="world-bg"> -->

  <div class="container px-4 px-lg-5 h-100">
    <div class="world-container text-center">
      <h4 class="pw my-4 text-center">Here you should search for, catch, and create your team of up to 5 pokemon, so that you can battle your
        friends.</h4>

      <div class="row">


        <div class="col-lg-6"><!-- column1 --> 
          <!-- This is Poke Search Form  -->
          
          <h3>Go ahead and search!</h3>

          <form method = "POST" class="container"> 
            {{ html_form.hidden_tag() }} 

            <div class="form-group col-6 mx-auto">
            {{ html_form.pokemon_name(class="form-control", placeholder="enter name") }}
            </div>

            {{ html_form.submit(class="btn btn-primary") }}    
        </form>

        </div><!-- end column1 -->




        <div class="col-lg-6"> <!-- column2 -->

          {% if this_pokemon %}
          
            {% include '/perm/pokemoncard.html' %}
          
          {% endif %}
          
        </div><!-- end column2-->



      </div><!-- end of row justify content -->
    </div> <!-- end of world content -->

  </div>
</section> <!-- end world section -->

{% endblock %}